@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100dvh;
    padding: 10px;
    background: linear-gradient(120deg, #001f3f, #0074D9);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fundoFade 2s ease-in;
}

@keyframes fundoFade {
    from { opacity: 0 }
    to { opacity: 1 }
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    min-height: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    transition: transform 0.3s ease;
    position: relative;
}

main h1 {
    text-align: center;
}

main.fim {
    filter: blur(4px);
    pointer-events: none;
}

div#infos {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

p#pontuacao, p#rodadas {
    background-color: rgb(9, 9, 55);
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    animation: popIn 0.5s ease;
}

@keyframes popIn {
    from { transform: scale(0.5); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

img {
    border: 4px solid black;
    max-width: 100%;
    transition: transform 0.3s ease;
    max-width: 600px;
}

img:hover {
    transform: scale(1.05);
}

section#controls {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    background-color: rgb(20, 20, 78);
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 300px;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
    transition: all .3s;
    animation: popIn 0.3s ease-in-out;
}

button:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.43);
    background-color: rgb(153, 255, 0);
    transform: translateY(-5px);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);
}

p#resultado {
    font-size: 1.5em;
    font-weight: bolder;
}

#fimDeJogo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    z-index: 10;
    animation: fadeIn 1s ease forwards;
}

#fimDeJogo h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#fimDeJogo button {
    background-color: #2ECC40;
    padding: 15px 30px;
    font-size: 1.5em;
    margin-top: 20px;
}

#fimDeJogo.escondido {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8) }
    to { opacity: 1; transform: scale(1) }
}

#new {
    margin: 0;
    border: 3px solid black;
    font-size: 1.3em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
